<!DOCTYPE html>

<html lang="en-AU">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>File Metadata Microservice</title>

  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
        type="image/x-icon"/>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <script href="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</head>

<body>
<h1 class="text-center fw-bold mt-4 mb-4">
  <span class="text-multi-color">File Metadata Microservice</span>
</h1>

<hr/>

<div class="container text-center mt-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <form id="file-upload-form" enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <h2 class="mb-4">File Uploader</h2>

        <input id="inputfield" class="form-control mb-4" type="file" name="upfile">

        <div class="json-response alert alert-info text-break mb-2" style="display: none;"></div>

        <input type="submit" class="btn btn-secondary w-100" value="Upload"/>
      </form>
    </div>
  </div>
</div>

<p class="text-center fw-bold mt-5 mb-0">
  <span class="text-multi-color">Developed by </span>
  Minh Ta
</p>

<script>
  const ajaxUpload = (frm) => {
    // disable submit button
    frm.querySelector('input[type="submit"]').disabled = true;
    // ajax
    const xhr = new XMLHttpRequest();

    xhr.open('POST', frm.action);
    xhr.send(new FormData(frm));

    xhr.onreadystatechange = () => {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        // enable submit button
        frm.querySelector('input[type="submit"]').disabled = false;
        frm.querySelector('.json-response').innerHTML = xhr.responseText;
        frm.querySelector('.json-response').style.display = 'block';
      }
    };
  };

  /**
   * User Form
   */
  const uploadForm = document.getElementById('file-upload-form');

  uploadForm.addEventListener('submit', (e) => {
    e.preventDefault();

    ajaxUpload(uploadForm);

    return false;
  });
</script>
</body>
</html>
